doctype html
html
  head
    title </ >
    script(src='/build/build.js')
    script.
      var $ = require('jquery');

  body
    block body
    block javascript
    script.
      $(function() {
        // 
      });

